* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', serif;
  font-size: 1.5em;
  text-align: center;
}

header {
  min-height: 50px;
  vertical-align: center;
  padding: 20px 0;
  border-bottom: 10px ridge #F44336;
  width: 100%;
  background-color: #D32F2F;
  color: #FFFFFF;
  font-size: 2.5em;
}

section {
  background-color: #FFCDD2;
  width: 600px;
  /* min-height: 300px; */
  margin: 1% auto;
  border: 2px solid #D32F2F;
  position: relative;
  clear: both;
}

p { margin: 1% 0; }

footer {
  position: relative;
  bottom: 0;
  margin-top: 6%;
}

ul { margin-top: 2em; }

li { list-style-type: none; }

input {
  height: 30px;
  margin: 2em 1em 0;
  padding: 1em;
  font-size: .6em;
}

button:focus { outline: none; }

button#playNow,
button#endGame,
button#playGameAgain {
  display: block;
  width: 250px;
  height: 70px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  bottom: -15px;
  background-color: #727272;
}

button#endGame {
  height: 45px;
  margin: 10px auto;
  bottom: 0px;
}

#secondWindow,
#lastWindow {
  display: none;
}

#firstWindow,
#lastWindow {
  margin-bottom: 20px;
}

th#whoseTurnIsIt {
  height: 30px;
  vertical-align: middle;
}

table {
  margin: auto;
  width: 600px;
  height: 600px;
}

td { 
  width: 30%; 
  height: 30%;
}

td.middleBlueBorders {
  border-left: 20px solid blue;
  border-right: 20px solid blue;
}

td.centerAllBorders {
  border-left: 20px solid blue;
  border-right: 20px solid blue;
  border-top: 20px solid red;
  border-bottom: 20px solid red;
}

td.middleRedBorders {
  border-top: 20px solid red;
  border-bottom: 20px solid red;
}

.xPiece,
.oPiece {
  background-repeat: no-repeat;
  width: 158px;
  height: 150px;
  display: inline-block;
}

.xPiece {
  background-image: url("../images/x.png");
}

.oPiece {
  background-image: url("../images/o.png");
}
/*
input#scoreBoardEntry {
  height: 2em;
  width: 3em;
} */
